<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="app.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<body ng-app="app" ng-controller="mapCtrl as vm">
  
  <div class="result" ng-show="vm.result" ng-click="vm.result = ''">
    {{vm.result}}
  </div>

  <div class="container-fluid" >
    <div class="row" ng-style="vm.style">


      <div class="col-sm-3">

        <div class="list-item mappick" ng-repeat="map in vm.cup0" ng-click="map.state = vm.nextState(map.state)">
          <div ng-class="map.state" class="map" ng-style="map.pic">
          </div>
        </div>

      </div>

      <div class="col-sm-3">

        <div class="list-item mappick" ng-repeat="map in vm.cup1" ng-click="map.state = vm.nextState(map.state)" >
          <div ng-class="map.state" class="map" ng-style="map.pic">
          </div>
        </div>

      </div>

      <div class="col-sm-3">

        <div class="list-item mappick" ng-repeat="map in vm.cup2" ng-click="map.state = vm.nextState(map.state)">
          <div ng-class="map.state" class="map" ng-style="map.pic">
          </div>
        </div>

      </div>

      <div class="col-sm-3">

        <div class="list-item mappick" ng-repeat="map in vm.cup3" ng-click="map.state = vm.nextState(map.state)">
          <div ng-class="map.state" class="map" ng-style="map.pic">
          </div>
        </div>

      </div>
      


      <div class="col-xs-12 eval">

          <button class="btn-lg btn-info" ng-click="vm.choseMap()">GIVE ME MAP!</button>
          <button class="btn-lg btn-warning" ng-click="vm.clearAll()">CLEAR ALL</button>


      </div>
    </div>
  </div>

</body>
</html>

<script>
  window.onload = function() {
    
    document.getElementsByClassName('maps-wrapper')[0].innerHTML = 'lol'
  }
</script>